.footerBody {
  background: #222222;
  color: #ffffff;
  font-size: 16px;
  padding: 50px 40px 10px 40px;
  margin-top: 300px;
}
.footerLayout {
  display: flex;
  border-bottom: 1px solid #d6d7f9;
  padding-bottom: 33px;
}
.footerLink {
  width: 70%;
  position: relative;
  text-align: justify;

  > ul {
    list-style-type: none;
    padding-left: 0;
    display: inline-block;
    width: 25%;
    height: auto;
    vertical-align: top;

    > p {
      color: #acaff3;
    }
    > li {
      margin: 5px 0;
    }
  }
}
.footerDew {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
  > p {
    margin: 0;
    display: flex;
    align-items: flex-end;
  }
  >div{
  >button{
    padding: 0;
    min-width: 0;
  }}
}
.contactBlock {
  width: 400px;
  > div {
    > p {
      color: #acaff3;
      margin: 0;
      margin-bottom: 15px;
    }
  >h4{
    font-weight: normal;
    font-size: 16px;
  }
  }
}

.btnStore {
  margin-bottom: 40px;
}

.contactBlock {
        >div{
            margin-bottom: 15px;
        }
}
